.bigCard {
  padding: 0;
  margin-top: 80px;
}

.bigCardBasis {
  display: flex;
  margin: auto;
  /* margin-top: 150px; */
  width: 70%;
  box-shadow: 48px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
}

.bigCardImg {
  position: relative;
  padding-left: 40px;
}

.bigCardImag {
  width: 250px;
  position: absolute;
  bottom: 40px;
  border-radius: 8px;
}

.bigCardContent {
  margin-left: auto;
  margin-left: 280px;
  padding-right: 50px;
}

.contentHeader {
  font-size: 30px;
  font-weight: bold;
  margin: 43px 0 15px 0;
}

.contentMain {
  margin-bottom: 70px;
  word-break: break-all;
}
