.sign {
  background-color: aqua;
}

.form-floating {
  margin-bottom: 10px;
}

.modal-header {
  text-align: center;
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
  padding: 0 12px !important;
}

.footer-signup {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.register-button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: rgb(57, 57, 158);
  cursor: pointer;
}
.register-button:hover {
  color: rgb(27, 27, 77);
}
.btn {
  width: 400px;
  margin: auto;
}
.auth {
  margin: auto;
  margin-top: 10px;
}

.h6 {
  margin-bottom: 20px;
}
