.category_content {
  display: flex;
  width: 1180px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 120px;
	margin-bottom: 30px;
}
.category {
  text-decoration: none;
  outline: none;
  color: black;
}
.category:hover {
  color: black;
}