.footer {
  width: 100%;
  background-color: rgb(232, 244, 244);
}

.footer_content {
  border-top: 2px solid rgba(0, 0, 0, 0.481);
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0;
}

.leftData {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.rightData {
  display: flex;
  width: 110px;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  font-family: "Neucha", cursive;
}

.footerTextleft {
  font-family: "Montserrat", sans-serif;
  color: #eb442b;
  font-weight: 700;
}
