@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.mainTitlePage {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.firstSection,
.secondSection,
.thirdSection,
.fourthSection,
.fifthSection {
  padding: 25px 0px 60px 0px;
}

.firstSection {
background-color: #f7ede8;
}

.thirdSection {
  background-color: #e8f4f4
}

.fifthSection {
	background-color: #f7ede8;
}

.suggestions h1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 285px;
}
